.logo {
  width: fit-content !important;
  h3 {
    font-size: 2rem;
    font-weight: 700 !important;
    color: white;
  }
}
.accountMobile {
  display: none !important;
}
.accountLarge {
  display: flex !important;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin: auto;
  width: var(--fixedWidth);
}
.inputPaper {
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 100px;
}
.inputPaperMobile {
  display: none !important;
}
.searchInput {
  flex: 1;
}

.account {
  color: white;
}
.itemText {
  margin-left: -30px !important;
}
.menuBtn {
  min-width: 100px !important;
  color: white !important;
  font-weight: 400 !important;
  z-index: 9999;
  i {
    margin: 0 10px;
  }
}
.menu {
  z-index: 999999 !important;
}
.searchIcon {
  i {
    color: var(--greyIcon) !important;
  }
}

.noDecoration {
  text-decoration: none !important;
  list-style: none !important;
  color: white !important;
}
.colorBlack {
  color: black !important;
}

@media screen and (max-width: 1500px) {
  .inputPaper {
    margin: auto 70px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    h3 {
      font-size: 2rem;
    }
  }
  .inputPaper {
    margin: auto 40px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    h3 {
      font-size: 1.8rem;
    }
  }
  .accountMobile {
    display: flex !important;
  }
  .accountLarge {
    display: none !important;
  }
  .inputPaper {
    width: 100% !important;
    margin-top: 20px;
  }
}
