.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underLine {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px auto;
}
.header {
  // background: rgba(230, 230, 230, 0.5);
  width: var(--fixedWidth);
  margin-top: 30px;
  .innerHeader,
  .cartHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cartHeading {
      justify-content: flex-start;
    }
  }
  h1 {
    color: var(--primaryColor);
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  }
  img {
    max-width: 30px;
    // filter: grayscale(1);
    margin: 0 15px;
  }
}
.productsTotal {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  width: var(--fixedWidth) !important;
  margin: 20px auto !important;
  .products {
    h4 {
      font-weight: 400;
      margin: 20px 0;
    }
  }
  .total {
    overflow: hidden;
    .heading {
      display: flex;
      padding: 30px 20px;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        &:nth-child(2) {
          font-weight: 800;
          color: var(--orangeTint);
        }
      }
    }
    .terms {
      padding: 0 20px 10px 20px;
      p {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.6);
        word-wrap: break;
        span {
          color: var(--orangeTint);
        }
      }
    }
    .orangeBtn {
      background: var(--primaryColor) !important;
      color: white !important;
      font-weight: 600 !important;
      width: 100% !important;
      padding: 20px 0 !important;
      border-radius: 0 !important;
    }
  }
}
