.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
  width: 100%;
  h1 {
    color: white;
    font-size: 4rem;
    letter-spacing: 1rem;
    text-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  }
}
.products {
  width: var(--fixedWidth);
  margin: auto;
  h4 {
    font-weight: 400;
    margin: 20px 0;
  }
}
.productGrid {
  margin: 20px 0 !important;
}
