.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underLine {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px auto;
}
.header {
  // background: rgba(230, 230, 230, 0.5);
  width: var(--fixedWidth);
  margin-top: 30px;
  .innerHeader {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h1 {
    color: var(--primaryColor);
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  }
  img {
    max-width: 30px;
    // filter: grayscale(1);
    margin: 0 15px;
  }
}
.productsTotal {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  width: var(--fixedWidth) !important;
  margin: 20px auto !important;
  .products {
    h4 {
      font-weight: 400;
      margin: 20px 0;
    }
  }
}
