@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;900&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  background-position: center;
}

.imageContainer {
  img {
    min-width: 250px;
    max-width: 300px;
    min-height: 350px;
    max-height: 400px;
    border-radius: 5px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  text-align: left;
  word-wrap: break-word;
  h3 {
    color: whitesmoke;
    // font-family: "Cormorant Garamond", serif;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  p {
    color: rgba(255, 255, 255, 0.85);
    margin: 5px 0 20px 0;
    opacity: 0.8;
    font-weight: 400;
  }
}
.overlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 300px;
  padding: 20px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    rgba(255, 255, 255, 0)
  );
  .shopNowBtn {
    background: var(--orangeTint) !important;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1500px) {
  .imageContainer {
    img {
      min-width: 200px;
      max-width: 250px;
      min-height: 300px;
      max-height: 350px;
    }
  }
}
