.container {
  width: var(--fixedWidth);
  // display: flex;
  // justify-content: center;
  margin: auto;
  overflow: hidden;
  align-items: center;
  padding: 50px 0;
}
.slider {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 20px;
}
.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  align-items: center;
  img {
    width: 150px;
  }
}
.priceLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .company {
    font-weight: 600;
  }
  .category {
    color: var(--greyFont);
    text-transform: capitalize;
  }
}
.menuItem {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menuItemWrapper.active {
  border: 1px blue solid;
}
.menuItem.active {
  border: 1px green solid;
}
.arrow-prev {
  i {
    color: black;
  }
}
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
.scrollMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}
.likeIcon {
  i {
    font-size: 1 rem !important;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  .amazonBtn {
    background: var(--amazonBG);
  }
  .flipkartBtn {
    background: var(--flipkartBG);
  }
}
.iconActive {
  color: var(--primaryColor) !important;
}
