.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  background: var(--primaryColor);
}

.information,
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    color: white;
  }
  transform: scale(0.8);
}
.email-container,
.location-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h4 {
    font-weight: 400;
    color: white;
    padding: 0 5px;
  }
}
.location-container {
  margin-left: 10px;
}
