.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--fixedWidth);
  margin: auto;
}

.information,
.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    color: white;
    font-size: 1rem;
  }
}
.emailContainer,
.locationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h4 {
    font-weight: 400;
    color: white;
    padding: 0 5px;
    font-size: 1rem;
  }
}
.locationContainer {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .information {
    width: 100%;
    margin-left: 10px;
    h4 {
      font-size: 0.8rem;
    }
  }
  .information,
  .socialIcons {
    justify-content: flex-start;
    i {
      font-size: 0.8rem;
    }
  }
}
