.slider {
  // width: var(--fixedWidth);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px !important;
}

.slide {
  position: relative;
  min-width: 100%;
  min-height: 50vh;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.arrowLeft,
.arrowRight {
  z-index: 10;
  i {
    font-size: 1.2rem;
    color: var(--primaryColor) !important;
  }
  padding: 8px !important;
  position: absolute !important;
  top: 50%;
  left: 20px;
  background: white !important;
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.2);
}
.arrowRight {
  right: 25px;
  left: auto;
}
.leftClick {
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) !important;
  margin-left: 5px !important;
  i {
    color: var(--primaryColor) !important;
    background: white;
    border-radius: 50%;
  }
  z-index: 100;
}
.rightClick {
  position: absolute !important;
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  margin-right: 5px !important;
  i {
    color: var(--primaryColor) !important;
    background: white;
    border-radius: 50%;
  }
  z-index: 100;
}
.buyBtn {
  margin-top: 20px !important;
  background: var(--primaryColor) !important;
  color: white !important;
}
.title {
  font-size: 5rem !important;
  font-weight: 500 !important;
  letter-spacing: 5px !important;
}
