.slider {
  // width: var(--fixedWidth);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px !important;
}
.backgroundContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.slide {
  position: relative;
  min-width: 100%;
  min-height: 60vh;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  padding: 100px 150px;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  cursor: grab;

  p {
    width: 40%;
    line-height: 1.8rem;
    font-weight: 600;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.7);
  }
}
.arrowLeft,
.arrowRight {
  z-index: 10;
  i {
    font-size: 1.2rem;
    color: var(--primaryColor) !important;
  }
  padding: 8px !important;
  position: absolute !important;
  top: 50%;
  left: 20px;
  background: white !important;
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.2);
}
.arrowRight {
  right: 25px;
  left: auto;
}
.leftClick {
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) !important;
  margin-left: 5px !important;
  i {
    color: var(--primaryColor) !important;
    background: white;
    border-radius: 50%;
  }
  z-index: 100;
}
.rightClick {
  position: absolute !important;
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  margin-right: 5px !important;
  i {
    color: var(--primaryColor) !important;
    background: white;
    border-radius: 50%;
  }
  z-index: 100;
}
.buyBtn {
  margin-top: 20px !important;
  background: var(--primaryColor) !important;
  color: white !important;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 40%;
  word-wrap: break-word;
  line-height: 3rem;
}

@media screen and (max-width: 1100px) {
  .slide {
    min-height: 50vh;
    p {
      width: 70%;
    }
  }
  .title {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .slide {
    p {
      width: 80%;
    }
    padding: 80px 100px;
  }
  .title {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .slide {
    p {
      width: 100%;
    }
    padding: 60px 80px;
  }
  .title {
    width: 90%;
  }
}
