.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.card .heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  text-align: left;
}

.card .heading h2 {
  font-weight: 700;
  color: var(--primaryColor);
  font-size: 2rem;
}

.card .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .form .textFields .textField {
  margin: 10px 10px;
}

.card .form .textFields .name {
  width: 100%;
}

.card .form .textFields .nameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .alreadyUser {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  top: 2px;
  padding-top: 1px;
  margin: 20px 0;
}

.card .alreadyUser h5 {
  font-weight: 300;
  margin: 0 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 0 8px 0 8px;
}

.card .alreadyUser:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
  text-align: left;
  height: 1px;
  top: 50%;
  width: 100%;
  border-top: 1px solid var(--orangeTint);
  margin-top: -1px;
  z-index: 0;
}

.card .alreadyUser:after h2 {
  font-weight: 900;
  color: var(--primaryColor);
  font-size: 2rem;
}

.card .login {
  width: 100%;
}

.card .login Button {
  width: 100%;
}

.card .signupBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin: 20px 0;
}

.card .signupBtn .btnSignup {
  background-color: var(--primaryColor) !important;
  color: white !important;
  font-weight: 600;
}

.card .signupBtn .sellerRegisterBtn {
  font-weight: 400;
}

.card .sellerFields .industryWrapper,
.card .sellerFields .websiteWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .sellerFields .industryWrapper .industry,
.card .sellerFields .industryWrapper .website,
.card .sellerFields .websiteWrapper .industry,
.card .sellerFields .websiteWrapper .website {
  width: 100%;
}

.card .sellerFields .sellerSubmit {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .textField,
  .textFields {
    width: 100% !important;
  }
  .nameContainer,
  .emailPhone,
  .passwords,
  .industryWrapper,
  .emailMobile,
  .websiteWrapper,
  .fbInsta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .container {
    padding: 50px 15px;
    width: 100% !important;
  }
  .card,
  .cardWrapper,
  .form,
  .sellerFields,
  .sellerCollapse {
    width: 100% !important;
  }
}

.shopDetails {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.shopDetails h4 {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=SellerSignup.module.css.map */