.container {
  width: var(--fixedWidth);
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 5vh;
}

.imageSection {
  background: white;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.imageContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 300px;
  margin: auto;
}

.imageContainer img {
  max-width: 300px;
  margin: auto;
  max-height: 300px;
}

.otherImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.otherImages img {
  width: 80px;
  cursor: pointer;
}

.otherImages .imageBack {
  padding: 15px;
}

.descSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  padding-top: 0;
}

.underLine {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  opacity: 0.4;
}

.pricing {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pricing h1 {
  font-weight: 600;
  color: var(--orangeTint);
}

.pricing h6 {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.affiliateButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.affiliateButtons .amazonBtn {
  background: var(--amazonBG);
  text-transform: lowercase;
  margin: 0 5px;
  padding: 10px;
}

.affiliateButtons .amazonBtn:hover {
  background: var(--primaryColor) !important;
}

.affiliateButtons .flipkartBtn {
  background: var(--flipkartBG);
  margin: 0 5px;
  padding: 10px;
}

.affiliateButtons .flipkartBtn:hover {
  background: var(--primaryColor) !important;
}

.likeIcon {
  z-index: 1000 !important;
}

.likeIcon i {
  color: var(--greyIcon) !important;
}

.heading h2 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px 0;
}

.heading h4 {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.heading h5 {
  font-weight: 300;
  font-size: 1rem;
  color: var(--primaryColor);
  margin: 10px 0;
  margin-top: 5px;
}

.middleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.paraDescription {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.verticalLine {
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  opacity: 0.4;
  margin-right: 20px;
}

.brands {
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
}

.brandSlider {
  height: 100%;
}

.brandSlider .brandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.brandSlider .brandContainer .brandImage {
  max-width: 120px;
  max-height: 100px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middleContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=Product.module.css.map */