.container {
  width: var(--fixedWidth);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5vh;
}
.imageContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 300px;
  img {
    width: 300px;
    margin: auto;
    // filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.4));
  }
}
.otherImages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  img {
    width: 80px;
    cursor: pointer;
  }
  .imageBack {
    padding: 15px;
  }
}
.descSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.underLine {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  opacity: 0.4;
}
.pricing {
  justify-content: flex-start;
}
.affiliateButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .amazonBtn {
    background: var(--amazonBG);
    text-transform: lowercase;
    margin: 0 5px;
    padding: 10px;
  }
  .flipkartBtn {
    background: var(--flipkartBG);
    margin: 0 5px;
    padding: 10px;
  }
}
.middleContainer {
  display: flex;
}
