.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  min-height: 50vh;
  margin: auto;
  margin-top: 50px;
  width: var(--fixedWidth);
}

.profileSection {
  padding: 50px 30px;
  margin: 0 10px;
  position: -webkit-sticky;
  position: sticky;
}

.profileSection .profileWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileSection .profileWrapper .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid var(--orangeTint);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.profileSection .profileWrapper .personalDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profileSection .profileWrapper .personalDetails .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileSection .profileWrapper .personalDetails .inputContainer h5 {
  margin-right: 5px;
}

.profileSection .profileWrapper .personalDetails .textField {
  margin: 5px 0;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  margin: 0 10px;
}

.tableHead {
  background: #e6e6e6;
}

.heading {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.eye i {
  color: black !important;
}

.productImage {
  width: 80px !important;
}

.editProduct {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.editProduct .iconContainer i {
  color: var(--primaryColor) !important;
  text-align: right;
  font-size: 1.2rem;
}

.editProduct .deleteProduct i {
  color: #b60909 !important;
}
/*# sourceMappingURL=myProfile.module.css.map */