.container {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 50vh;
  margin: auto;
  margin-top: 50px;
  width: var(--fixedWidth);
}
.profileSection {
  padding: 50px 30px;
  margin: 0 10px;
  position: sticky;

  .profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 5px solid var(--orangeTint);
      align-items: center;
      margin: 0 10px;
    }
    .personalDetails {
      display: flex;
      flex-direction: column;

      .inputContainer {
        display: flex;
        align-items: center;
        h5 {
          margin-right: 5px;
        }
      }

      .textField {
        margin: 5px 0;
      }
    }
  }
}

.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0 10px;
}
.tableHead {
  background: rgb(230, 230, 230);
}
.heading {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}
.eye {
  i {
    color: black !important;
  }
}
.productImage {
  width: 80px !important;
}
.editProduct {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .iconContainer {
    i {
      color: var(--primaryColor) !important;
      text-align: right;
      font-size: 1.2rem;
    }
  }
  .deleteProduct {
    i {
      color: rgb(182, 9, 9) !important;
    }
  }
}
