.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  min-height: 50vh;
  margin: auto;
  margin-top: 50px;
  width: var(--fixedWidth);
}

.profileSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
}

.profileSection .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileSection .controlPanel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.profileSection .settings {
  width: 100%;
  margin: 30px 0;
}

.profileSection .settings h4 {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.profileSection .controlItem,
.profileSection .setttingsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 5px 0;
}

.profileSection .controlItem:hover,
.profileSection .setttingsItem:hover {
  background: #07814a1c;
  cursor: pointer;
}

.profileSection .controlItem i,
.profileSection .controlItem p,
.profileSection .setttingsItem i,
.profileSection .setttingsItem p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5) !important;
}

.profileSection .controlItem p,
.profileSection .setttingsItem p {
  margin: 0 25px;
}

.profileSection .setttingsItem {
  margin: 10px 0;
}

.profileSection .selected {
  background: #07814a1c;
  color: var(--primaryColor) !important;
  font-weight: 600;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  height: 100%;
}

.tableHead {
  background: #e6e6e6;
}

.heading {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.eye i {
  color: black !important;
}

.productImage {
  width: 80px !important;
}

.editProduct {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.editProduct .iconContainer i {
  color: var(--primaryColor) !important;
  text-align: right;
  font-size: 1.2rem;
}

.editProduct .deleteProduct i {
  color: #b60909 !important;
}
/*# sourceMappingURL=myProfile.module.css.map */