.container {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: var(--orangeTint) !important;
    }
  }
}

.navContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  border-radius: 0px !important;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: var(--fixedWidth);
  margin: auto;
  overflow-x: hidden !important;
}

.navLink {
  width: max-content !important;
  margin: 0 10px;
  overflow: hidden;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-line-clamp: 1; /* number of lines to show */
  // -webkit-box-orient: vertical;
}
.sliderContainer {
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  overflow-x: hidden !important;
  padding-left: 3%;
}
.slider {
  overflow-x: hidden;
}
// @media screen and (max-width: 1200px) {
//   .nav {
//     width: 90%;
//   }
// }

// @media screen and (max-width: 800px) {
//   .container {
//     overflow-x: hidden;
//   }
//   .navContainer {
//     overflow: hidden;
//   }
//   .nav {
//     width: max-content;
//     margin-bottom: -50px; /* maximum width of scrollbar */
//     padding-bottom: 50px; /* maximum width of scrollbar */
//     overflow-y: hidden;
//     overflow-x: scroll;

//     a {
//       margin: 0 20px;
//       width: max-content;
//     }
//   }
// }
@media screen and (max-width: 500px) {
  .slider > div > div {
    width: 1500px !important;
  }
}
