* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  color: white !important;
}

:root {
  --primaryColor: #09814a;
  --backgroundWhite: #fbfbfb;
  --greyIcon: #c0c0c0;
  --fixedWidth: 70%;
  --greyFont: #7c7c7c;
  --amazonBG: #131921;
  --flipkartBG: #2774f0;
  --orangeTint: #de6e21;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--backgroundWhite);
}
.appBarContainer,
.topBar {
  background: var(--primaryColor);
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}
.slider {
  margin-top: 50px;
}

//Circular loading container
.loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: var(--orangeTint) !important;
  }
}
.linearProgress {
  width: 100% !important;
  svg {
    color: var(--orangeTint) !important;
  }
}
.productSlider {
  // width: var(--fixedWidth);
  margin: 5vh auto;
  margin-top: 0;
}
//Styles for side color panel
.colorPanel {
  position: fixed;
  left: 0;
  top: 25%;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
  .pickerContainer {
    padding: 20px;
    h5 {
      margin: auto;
      margin: 10px 0;
      font-weight: 600;
    }
  }
}
.closeBtn {
  i {
    color: black !important;
  }
}

.closeColor {
  transform: translateX(-100%);
}

.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.stores {
  padding: 10vh 0;
}

.container {
  width: var(--fixedWidth);
  margin: auto;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: var(--orangeTint);
    opacity: 0.8;
  }
  p {
    text-align: center;
    color: var(--greyFont);
  }
}
.categoryCard {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  .innerDiv {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white !important;
    min-height: 20vh;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
    h1 {
      transition: all 0.2s ease;
      font-size: 2rem;
      &:hover {
        color: var(--orangeTint);
      }
    }
  }
}
.brands {
  padding-bottom: 10vh;
}

@media screen and (max-width: 1500px) {
  :root {
    --fixedWidth: 80% !important;
  }
}

@media screen and (max-width: 1200px) {
  .categoryCard {
    .innerDiv {
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  :root {
    --fixedWidth: 90% !important;
  }
  .colorPanel {
    display: none;
  }
  .categoryCard {
    .innerDiv {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  .topBar {
    display: none;
  }
}
