* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  color: white !important;
}

:root {
  --primaryColor: #09814a;
  --backgroundWhite: #fbfbfb;
  --greyIcon: #c0c0c0;
  --fixedWidth: 70%;
  --greyFont: #7c7c7c;
  --amazonBG: #131921;
  --flipkartBG: #2774f0;
  --orangeTint: #de6e21;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--backgroundWhite);
}
.appBarContainer,
.topBar {
  background: var(--primaryColor);
}
.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
}

//Circular loading container
.loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: var(--orangeTint) !important;
  }
}
.linearProgress {
  width: 100% !important;
  svg {
    color: var(--orangeTint) !important;
  }
}

//Styles for side color panel
.colorPanel {
  position: fixed;
  left: 0;
  top: 25%;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
  .pickerContainer {
    padding: 20px;
    h5 {
      margin: auto;
      margin: 10px 0;
      font-weight: 600;
    }
  }
}
.closeBtn {
  i {
    color: black !important;
  }
}

.closeColor {
  transform: translateX(-100%);
}

.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.container {
  width: var(--fixedWidth);
  margin: auto;
}
.fabCart {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: var(--primaryColor);
  padding: 20px;
  border-radius: 50%;
  z-index: 1000;
}

@media screen and (max-width: 1500px) {
  :root {
    --fixedWidth: 80% !important;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --fixedWidth: 90% !important;
  }
  .colorPanel {
    display: none;
  }
  .categoryCard {
    .innerDiv {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  .topBar {
    display: none;
  }
}
